<%= form_for video_game, html: {class: "form form_container"} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div class="form-group">
    <%= f.label :release_year, "Year Released" %>
    <%= f.text_field :release_year%>
  </div>
  <div class="form-group">
    <%= f.label :console %>
    <%= f.text_field :console%>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.collection_check_boxes :tag_ids, tags, :id, :name do |b| %>
      <div class="form-check">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <%= f.fields_for :tags, video_game.tags.build do |tags_fields| %>
    <div class="form-group">
      <%= tags_fields.label :name, "New Tag" %>
      <%= tags_fields.text_field :name %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Submit" %> <%= link_to "Cancel", :back %>
  </div>
<% end %>
