<%= form_for @user, html: {class: "form form_container"} do |f| %>
  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :nickname, "Nickname" %>
    <%= f.text_field :nickname %>
  </div>

  <% if !current_user %>
    <div class="form-group">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Sign up" %> <%= link_to "Cancel", :back %>
  </div>
<% end %>
