<h1>Account Information</h1>

<p>Nickname: <%= current_user.nickname %></p>
<p>Email: <%= current_user.email %></p>
<p><%= link_to "Edit", edit_user_path %></p>

<h3>Your Video Games</h3>
<p><%= "Your collection is empty..." if current_user.video_games.empty? %></p>

<p><%= link_to "Add a Game!", video_games_path %></p>

<%= render partial: 'video_game', collection: @user.video_games %>
