<h1>Tags</h1>
<%= render partial: 'layouts/error_message', collection: @tag.errors.full_messages %>


<table class="table">
  <tbody id="tag_tbody">
    <%= render partial: 'form', locals: {tag: @tag} %>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag %></td>
        <td><%= button_to "Delete", tag_path(tag), method: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script id="new_tag_template" type="text/x-handlebars-template">
  <tr id ="tr_{{tagId}}">
    <td>
      <a href="/tags/{{tagId}}">{{tagName}}</a>
    </td>
    <td>
      <form class="delete_tag" class="delete_tag" id="delete_tag_{{tagId}}" action="/tags/{{tagId}}" accept-charset="UTF-8" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="hidden" name="tag_id" id="tag_id_{{tagId}}" value="{{tagId}}">
        <input type="submit" value="Delete"></input>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </td>
  </tr>
</script>
