<!DOCTYPE html>
<html>
  <head>
    <title>VideoGameCommunityHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if session[:user_id] %>
        <%= link_to "Home", user_path(session[:user_id]) %>
        <%= link_to "Video Games", video_games_path %>
        <%= link_to "Tags", tags_path %>
        <%= link_to "Sign out", session_path(session[:user_id]), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path if !session[:user_id] %>
        <%= link_to "Sign in", new_session_path if !session[:user_id] %>
      <% end %>
    </div>
    <%= flash[:alert] if flash[:alert] %>
    <%= yield %>
  </body>
</html>
